<!DOCTYPE html>
<html>
  <head>
    <title></title>File upload with multiplart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <<section>
      <h2>Upload your photo</h2>
      <form action="/upload" method="post" enctype="multipart/form-data"> //enctype is very importatnt says that it is a image
        <input type="text" name="name">
        <input type="file" name="photo">
        <input type="submit" value="Save">
      </form>
    </section>
  </body>
</html>
